body{
    background-image: linear-gradient(blue,purple,red);
}
.auQe{
    background-color: aqua;
    height: 500px;
    width: 1000px;
    text-align: center;
    
  
}
.Wite{
    background-color: white;
}
button{
    border-color: steelblue;
    width: 180px;
    color: white;
    background-color: steelblue;
}
h1{
    color: aqua;
}
input[text=text]{

}