body{
    background-image: url(asta-black-clover-3840x2743-11219.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
}
.dEmo{
    background-color: antiquewhite;
    margin-top: 300px;
    margin-left: 400px;
    margin-right: 600px;
   
    font-size: x-large;
    padding:20px;
   
   
}